---
const { size = "20" } = Astro.props;
---

<span class="verified-badge" title="Identidad Verificada">
  <svg 
    xmlns="http://www.w3.org/2000/svg" 
    viewBox="0 0 24 24" 
    fill="currentColor" 
    width={size} 
    height={size}>
    <path fill-rule="evenodd" d="M8.603 3.799A4.49 4.49 0 0112 2.25c1.357 0 2.573.6 3.397 1.549a4.49 4.49 0 013.498 1.307 4.491 4.491 0 011.307 3.497A4.49 4.49 0 0121.75 12a4.49 4.49 0 01-1.549 3.397 4.491 4.491 0 01-1.307 3.498 4.491 4.491 0 01-3.497 1.307A4.49 4.49 0 0112 21.75a4.49 4.49 0 01-3.397-1.549 4.49 4.49 0 01-3.498-1.306 4.491 4.491 0 01-1.307-3.498A4.49 4.49 0 012.25 12c0-1.357.6-2.573 1.549-3.397a4.49 4.49 0 011.307-3.497 4.491 4.491 0 013.497-1.307zm4.45 10.3a.75.75 0 001.1-1.02l-3.25-3.5a.75.75 0 00-1.1 0l-1.25 1.25a.75.75 0 001.06 1.06l.72-.72 2.72 2.93z" clip-rule="evenodd" />
  </svg>
</span>

<style>
  .verified-badge {
    display: inline-flex;
    align-items: center;
    color: #1d9bf0; /* Azul Twitter/Instagram */
    margin-left: 4px;
    vertical-align: middle;
  }
</style>

